.tcp-dvr-progress-control .tcp-dvr-time-shift{
  //@extend .vjs-play-progress;
  background-color: transparent;
}

.video-js {
  .vjs-big-play-button {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: 0;
    opacity: 1;
    &:before {
      content: none;
    }
    .vjs-button-icon {
      position: absolute;
      height: 4.8em;
      width: 6.8em;
      left: 50%;
      top: 50%;
      margin-left: -3.4em;
      margin-top: -2.4em;
      fill: rgba(33, 33, 33, 0.8);
    }
    &:hover .vjs-button-icon {
      fill: #00a4ff;
    }
    .vjs-icon-placeholder{
      display: none;
    }
  }
  &, &:hover {
    .vjs-big-play-button,
    .vjs-big-play-button:focus {
      background: none;
    }
  }
  &.vjs-error-hidden {
    .vjs-big-play-button,
    .vjs-share-button {
      display: none !important;
    }
    * {
      cursor: default;
    }
  }
  &.vjs-ima-ad:not(.vjs-has-started) .vjs-big-play-button {
    z-index: 1112;
  }
  &.vjs-paused.vjs-pos-ended {
    .vjs-big-play-button, .vjs-poster {
      display: block;
    }
  }
  &.vjs-waiting .vjs-big-play-button,
  &.vjs-seeking .vjs-big-play-button,
  &.vjs-ad-loading .vjs-big-play-button,
  &.vjs-ad-playing .vjs-big-play-button,
  &.vjs-using-native-controls .vjs-big-play-button {
    display: none !important;
  }
  &.vjs-has-started .vjs-poster {
    opacity: 0;
    transition: opacity 250ms ease;
  }
}
