.tcp-skin{
  .tcp-logo{
    position: absolute;
    &.left-top{
      top: 0;
      left: 0;
    }
    &.left-bottom{
      bottom: 0;
      left: 0;
    }
    &.right-top{
      top: 0;
      right: 0;
    }
    &.right-bottom{
      bottom: 0;
      right: 0;
    }
    .tcp-logo-link{
      display: inline-block;
    }
  }
}
