.tcp-skin{
  // 覆盖默认样式 start
  .vjs-big-play-button {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    border: 0;
    opacity: 1;
    &:before {
      content: none;
    }
    .vjs-button-icon {
      position: absolute;
      height: 4.8em;
      width: 6.8em;
      left: 50%;
      top: 50%;
      margin-left: -3.4em;
      margin-top: -2.4em;
      fill: rgba(33, 33, 33, 0.5);
    }
    &:hover .vjs-button-icon {
      fill: #00a4ff;
    }
    .vjs-icon-placeholder{
      display: none;
    }
  }
  &, &:hover {
    .vjs-big-play-button,
    .vjs-big-play-button:focus {
      background: none;
    }
  }
  &.vjs-error-hidden {
    .vjs-big-play-button,
    .vjs-share-button {
      display: none !important;
    }
    * {
      cursor: default;
    }
  }
  &.vjs-ima-ad:not(.vjs-has-started) .vjs-big-play-button {
    z-index: 1112;
  }
  &.vjs-paused.vjs-pos-ended {
    .vjs-big-play-button, .vjs-poster {
      display: block;
    }
  }
  &.vjs-waiting .vjs-big-play-button,
  &.vjs-seeking .vjs-big-play-button,
  &.vjs-ad-loading .vjs-big-play-button,
  &.vjs-ad-playing .vjs-big-play-button,
  &.vjs-using-native-controls .vjs-big-play-button {
    display: none !important;
  }
  &.vjs-has-started .vjs-poster {
    opacity: 0;
    transition: opacity 250ms ease;
  }

  .vjs-menu{
    z-index:1;
  }
  .vjs-control-bar{
    background-color: rgba(0, 0, 0, 0.3);
    @include linear-gradient(to top,
      rgba(0, 0, 0, 0.666) 0%,
      rgba(0, 0, 0, 0.492) 19%,
      rgba(0, 0, 0, 0.360) 34%,
      rgba(0, 0, 0, 0.254) 47%,
      rgba(0, 0, 0, 0.185) 56.5%,
      rgba(0, 0, 0, 0.129) 65%,
      rgba(0, 0, 0, 0.084) 73%,
      rgba(0, 0, 0, 0.050) 80.2%,
      rgba(0, 0, 0, 0.028) 86.1%,
      rgba(0, 0, 0, 0.014) 91%,
      rgba(0, 0, 0, 0.005) 95.2%,
      rgba(0, 0, 0, 0.001) 98.2%,
      rgba(0, 0, 0, 0) 100%);
  }
  .vjs-time-control{
    padding-left: 0em;
    padding-right: 0em;
  }
  .vjs-current-time,
  .vjs-time-divider,
  .vjs-duration{
    display: block;
  }
  .vjs-time-divider{
    min-width:0;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
  .vjs-current-time{
    padding-left: 1em;
  }
  .vjs-duration{
    padding-right: 1em;
  }

  .vjs-remaining-time{
    display: none;
  }
  .vjs-progress-control{
    position: absolute;
    width: 100%;
    top: -0.9em;
    left: 0;
    height: 1.5em;
  }
  .vjs-play-progress{
    background-color: #00a4ff;
  }
  .vjs-custom-control-spacer{
    display: block;
    flex-grow: 1;
  }
  // 覆盖默认样式 end
  .tcp-loading-spinner {
    border-radius: 50%;
    box-sizing: border-box;
    background-clip: padding-box;
    width: 50px;
    height: 50px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;

    //font-size: 10px;
    text-indent: -9999em;
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-left-color: #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  &.vjs-seeking .tcp-loading-spinner,
  &.vjs-waiting .tcp-loading-spinner {
    display: block;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
}


.vjs-button > .vjs-icon-placeholder:before {
  //移动端的 单位line-height比PC端要高， 设置为2时pc端垂直居中，设置为1.67时移动端垂直居中
  //line-height: 2;
}
